<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wash.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.android.pc.ioc.a.demo.MeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.android.pc.ioc.a.demo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.pc.ioc.MainActivity2"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.android.pc.ioc.a.demo.ThirdActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.android.pc.ioc.a.demo.SecondActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.android.pc.ioc.a.demo.FourActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.android.pc.ioc.a.demo.FifthActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.android.pc.ioc.a.demo.MyFragmentActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.android.pc.ioc.app.CropActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.android.pc.ioc.MainActivity3"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>